@layout AppLayout
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@page "/formcapture/workflows"

<AuthorizeView Roles="Admin, Workflow admin">
    <Authorized>
        <h3><span class="oi oi-project"></span> Workflows</h3>
        <hr />

        <div class="row">
            <div class="col col-lg-3 col-sm-6">
                <button class="btn btn-success" @onclick="@(e => Navigate("/formcapture/workflows/add"))"><span class="oi oi-plus"></span> Add a new workflow</button>
            </div>
        </div>

        <div>
            <br />
            @if (workflows == null)
            {
                <p>Loading...</p>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <td>Name</td>
                                <td>Added</td>
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Workflow workflow in workflows)
                            {
                                <tr>
                                    <td @onclick="@(e => Navigate($"/formcapture/workflows/{workflow.ID}/edit"))">@workflow.Name</td>
                                    <td @onclick="@(e => Navigate($"/formcapture/workflows/{workflow.ID}/edit"))">@workflow.Added</td>
                                    <td @onclick="@(e => Navigate($"/formcapture/workflows/{workflow.ID}/edit"))"><span class="oi oi-pencil"></span></td>
                                    <td><span class="oi oi-trash"></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary @LoadingIndicatorCssClass" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            }
        </div>

        @code
        {
            private List<Workflow> workflows;

            private bool isLoadingIndicatorHidden = true;

            private string LoadingIndicatorCssClass => isLoadingIndicatorHidden ? "d-none" : null;

            private void Navigate(string page)
            {
                NavigationManager.NavigateTo(page);
            }

            protected override async Task OnInitializedAsync()
            {
                isLoadingIndicatorHidden = !isLoadingIndicatorHidden;
                HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", ClaimsHelper.Instance().GetToken());
                HttpResponseMessage responseMessage = await HttpClient.PostAsJsonAsync("api/workflows/", ClaimsHelper.Instance().GetEmailClaim().Value);
                if (responseMessage.IsSuccessStatusCode)
                {
                    workflows = JsonConvert.DeserializeObject<List<Workflow>>(await responseMessage.Content.ReadAsStringAsync());
                }
                isLoadingIndicatorHidden = !isLoadingIndicatorHidden;
            }
        }
    </Authorized>

    <NotAuthorized>
        <h3>You are not authorized to access this page.</h3>
    </NotAuthorized>
</AuthorizeView>