@layout AppLayout
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime IJSRuntime
@page "/formcapture/tasks/add"

<AuthorizeView Roles="Admin, Workflow admin">
    <Authorized>
        <h3>Add a new task</h3>

        <hr />

        <div>
            <div class="form-group">
                <label for="task-name"><b>Task name</b>:</label>
                <input type="text" name="task-name" id="task-name" placeholder="Enter a task name..." @bind-value="workflowTask.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label for="task-description"><b>Task description</b>:</label>
                <input type="text" name="task-description" id="task-description" placeholder="Enter a task description..." @bind-value="workflowTask.Description" class="form-control" />
            </div>

            <div class="form-group">
                <p><b>Task parameters</b>:</p>
                @if (taskParameters != null)
                {
                    @foreach (var paramater in taskParameters)
                    {
                        <div class="row mb-2">
                            <div class="col">
                                <label for="@paramater.ID-name-label">Name:</label>
                                <input name="@paramater.ID-name-label" id="@paramater.ID-name-label" type="text" @bind="@paramater.ParameterName" class="form-control" placeholder="Enter parameter's name..." />
                            </div>

                            <div class="col">
                                <label for="@paramater.ID-value-label">Value:</label>
                                <input name="@paramater.ID-value-label" id="@paramater.ID-value-label" type="text" @bind="@paramater.ParemeterValue" class="form-control" placeholder="Enter parameter's value..." />
                            </div>
                        </div>
                    }
                }
                <button class="btn btn-primary mt-1" @onclick="AddNewParameter"><span class="oi oi-plus"></span> Add a new parameter</button>
            </div>

            <div class="form-group">
                <label for="task-content"><b>Task content</b>: <a title="Information"><span class="oi oi-question-mark"></span></a></label>
                <textarea @bind="taskContent" placeholder="Enter task content..." name="task-content" id="task-content" class="form-control">
                </textarea>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2 col-sm-6">
                        <button @onclick="ConfirmForm" class="btn btn-success"><span class="oi oi-check"></span> Confirm</button>
                    </div>

                    <div class="col-lg-2 col-sm-6">
                        <button @onclick="TestTaskContent" class="btn btn-warning"><span class="oi oi-beaker"></span> Test task</button>
                    </div>
                </div>
            </div>
        </div>

        @code
        {
            private WorkflowTask workflowTask = new WorkflowTask() { ID = Guid.NewGuid().ToString() };

            private List<WorkflowTaskParameter> taskParameters = new List<WorkflowTaskParameter>();

            /// <summary>
            /// Page field that contains content of the task.
            /// </summary>
            private string taskContent;

            private async Task ConfirmForm()
            {
                if (!string.IsNullOrEmpty(taskContent) && !string.IsNullOrEmpty(workflowTask.Name))
                {
                    workflowTask.Content = System.Text.Encoding.UTF8.GetBytes(taskContent);
                    workflowTask.UserID = ClaimsHelper.Instance().GetEmailClaim().Value;
                    workflowTask.Added = DateTime.Now;
                    workflowTask.Updated = workflowTask.Added;
                    var responseMessage = await HttpClient.PostAsJsonAsync("api/tasks/add", workflowTask);
                    if (taskParameters.Count > 0)
                    {
                        await HttpClient.PostAsJsonAsync("api/taskparameters/add", taskParameters);
                    }
                    if (responseMessage.IsSuccessStatusCode)
                    {
                        NavigationManager.NavigateTo("/formcapture/tasks");
                    }
                }
            }

            private void AddNewParameter()
            {
                taskParameters.Add(new WorkflowTaskParameter() { ID = Guid.NewGuid().ToString(), TaskID = workflowTask.ID, Added = DateTime.Now, Updated = DateTime.Now });
            }

            private async void TestTaskContent()
            {
                await IJSRuntime.InvokeVoidAsync("executeJS", taskContent);
            }

            protected override void OnInitialized()
            {
                taskContent = "";
                HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", ClaimsHelper.Instance().GetToken());
                base.OnInitialized();
            }
        }
    </Authorized>

    <NotAuthorized>
        <h3>You are not authorized to access this page.</h3>
    </NotAuthorized>
</AuthorizeView>